In [130]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [131]:
#Caracteristicas generales, seguridad social en salud y educacion

# Links a los conjuntos de datos
url_cgsse = 'https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/main/Datos/GEIH2024/CGSSE.CSV'
url_ocupados = 'https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/main/Datos/GEIH2024/Ocupados.CSV'
url_ft = 'https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/main/Datos/GEIH2024/Fuerza%20de%20trabajo.CSV'
url_desocupados = 'https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/main/Datos/GEIH2024/No%20ocupados.CSV'

# CGSSE
df_cgsse = pd.read_csv(url_cgsse, encoding='latin-1', sep=';', 
                       low_memory=False)

#Ocupados
df_ocupados=pd.read_csv(url_ocupados,encoding='latin-1',sep=';',
                       low_memory=False)

#Fuerza de trabajo
df_ft=pd.read_csv(url_ft,
                  encoding='latin-1',sep=';',low_memory=False)
#No ocupados
df_desocupados=pd.read_csv(url_desocupados,encoding='latin-1',
                           sep=';',low_memory=False)

In [132]:
df_cgsse

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P6170,P3041,P3042,P3042S1,P3042S2,P3043,P3043S1,P3038,P3039,POB_MAY18
0,20240730,7,2024,7858603,1,1,1,10,NaN,2,...,2.0,NaN,4.0,1.0,NaN,NaN,NaN,2.0,1.0,1.0
1,20240730,7,2024,7858603,1,2,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
2,20240730,7,2024,7858603,1,3,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,2.0,1.0,1.0
3,20240730,7,2024,7858604,1,1,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
4,20240730,7,2024,7858604,1,2,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69689,20240730,7,2024,7889227,1,1,1,10,88.0,1,...,2.0,NaN,8.0,4.0,714.0,5.0,714.0,2.0,1.0,1.0
69690,20240730,7,2024,7889227,1,2,1,10,88.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
69691,20240730,7,2024,7889227,1,3,1,10,88.0,1,...,2.0,NaN,10.0,5.0,521.0,2.0,NaN,1.0,2.0,1.0
69692,20240730,7,2024,7889227,1,4,1,10,88.0,1,...,2.0,NaN,8.0,1.0,413.0,2.0,NaN,2.0,1.0,1.0
69693,20240730,7,2024,7889227,1,5,1,10,88.0,1,...,1.0,1.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
df_cgsse['FEX_C18'].sum()

np.float64(51569604.99998947)

In [134]:
df_ft

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P3362S8,P3362S7A1,P6300,P6310,P6310S1,P6320,P6330,P6340,P6350,P6351
0,20240730,7,2024,7858603,1,1,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20240730,7,2024,7858603,1,2,1,50,NaN,2,...,NaN,NaN,1.0,3.0,NaN,1.0,2.0,NaN,NaN,NaN
2,20240730,7,2024,7858603,1,3,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20240730,7,2024,7858604,1,1,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20240730,7,2024,7858604,1,2,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55033,20240729,7,2024,7889226,1,2,1,50,88.0,1,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55034,20240730,7,2024,7889227,1,1,1,50,88.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55035,20240730,7,2024,7889227,1,2,1,50,88.0,1,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55036,20240730,7,2024,7889227,1,3,1,50,88.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55037,20240730,7,2024,7889227,1,4,1,50,88.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [135]:
df_ocupados

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P514,P515,P1881,P1882,P7240,OCI,INGLABO,RAMA2D_R4,RAMA4D_R4,OFICIO_C8
0,20240730,7,2024,7858603,1,1,1,60,NaN,2,...,1,1,13,50.0,3,1,480000.0,1,161,9211
1,20240730,7,2024,7858603,1,3,1,60,NaN,2,...,2,1,12,15.0,3,1,640000.0,47,4711,5221
2,20240730,7,2024,7858604,1,1,1,60,NaN,2,...,2,2,3,10.0,8,1,400000.0,47,4781,9520
3,20240730,7,2024,7858604,1,2,1,60,NaN,2,...,1,1,3,20.0,5,1,600000.0,3,312,6222
4,20240730,7,2024,7858605,1,1,1,60,NaN,2,...,1,1,12,25.0,3,1,700000.0,1,161,9211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29924,20240728,7,2024,7889224,1,1,1,60,76.0,1,...,1,1,5,90.0,8,1,1050000.0,97,9700,9111
29925,20240729,7,2024,7889226,1,1,1,60,88.0,1,...,1,1,10,15.0,8,1,3000000.0,77,7729,5249
29926,20240730,7,2024,7889227,1,1,1,60,88.0,1,...,1,1,11,10.0,3,1,1750000.0,61,6110,7422
29927,20240730,7,2024,7889227,1,3,1,60,88.0,1,...,1,1,11,10.0,3,1,2000000.0,55,5511,1411
29928,20240730,7,2024,7889227,1,4,1,60,88.0,1,...,1,1,11,10.0,3,1,1600000.0,55,5511,4224

In [136]:
df_desocupados

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P9460,P1519,P1883,P7422,P7422S1,OFICIO1_C8,OFICIO2_C8,RAMA2D_D_R4,RAMA4D_D_R4,P7440
0,20240730,7,2024,7858603,1,2,1,70,NaN,2,...,2.0,2,NaN,1,400000.0,.,9111,97.0,9700,NaN
1,20240730,7,2024,7858605,1,2,1,70,NaN,2,...,NaN,2,NaN,2,NaN,4224,NaN,NaN,NaN,NaN
2,20240730,7,2024,7858606,1,3,1,70,NaN,2,...,NaN,2,NaN,2,NaN,.,.,NaN,.,NaN
3,20240730,7,2024,7858607,1,2,1,70,NaN,2,...,2.0,2,NaN,2,NaN,.,9111,97.0,9700,NaN
4,20240730,7,2024,7858607,1,3,1,70,NaN,2,...,NaN,2,NaN,2,NaN,.,.,NaN,.,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25104,20240727,7,2024,7889223,1,4,1,70,76.0,1,...,2.0,2,NaN,2,NaN,.,8156,15.0,1522,NaN
25105,20240728,7,2024,7889224,1,2,1,70,76.0,1,...,2.0,2,NaN,1,98.0,.,9333,47.0,4752,NaN
25106,20240728,7,2024,7889224,1,3,1,70,76.0,1,...,2.0,2,NaN,2,NaN,5120,5120,96.0,9609,NaN
25107,20240729,7,2024,7889226,1,2,1,70,88.0,1,...,2.0,2,NaN,2,NaN,.,5223,46.0,4632,NaN
25108,20240730,7,2024,7889227,1,2,1,70,88.0,1,...,2.0,2,NaN,2,NaN,.,4120,85.0,8553,NaN

In [137]:
#Taller mercado laboral GEIH 2025 
#Interpretar y explicar textualmente todas las respuesta

In [138]:
#1. Para el total nacional calcular:

#POBLACION TOTAL.
poblacion_total = df_cgsse['FEX_C18'].sum()
print(f'Poblacion total representada: {int(poblacion_total)}')

Poblacion total representada: 51569604

In [139]:
#POBLACION EN EDAD DE TRABAJAR.
PET = df_cgsse[df_cgsse['P6040']>=15]['FEX_C18'].sum()
print(f'Poblacion en edad de trabajar: {int(PET)}')

Poblacion en edad de trabajar: 40142096

In [140]:
#POBLACION QUE NO ESTA EN EDAD DE TRABAJAR.
PNET = df_cgsse[df_cgsse['P6040']<15]['FEX_C18'].sum()
print(f'Poblacion que no está en  edad de trabajar: {int(PNET)}')

Poblacion que no está en  edad de trabajar: 11427507

In [141]:
#POBLACION ECONOMICAMENTE ACTIVA
PEA = df_ft[df_ft['FT']==1.0]['FEX_C18'].sum()
print(f'Poblacion Economicamente Activa: {int(PEA)}')

Poblacion Economicamente Activa: 25757665

In [142]:
#POBLACION ECONOMICAMENTE INACTIVA
PEI = df_ft[df_ft['FFT']==1]['FEX_C18'].sum()
print(f'Poblacion Economicamente inactiva: {int(PEI)}')

Poblacion Economicamente inactiva: 14384431

In [143]:
#TASA DE OCUPADOS.

#Poblacion Ocupada.
O = df_ocupados['FEX_C18'].sum()
print(f'Poblacion ocupada: {int(O)}')

#Tasa de Ocupacion.
TO = O/PET
print(f'Tasa de Ocupacion: {TO:.2%}')

Poblacion ocupada: 23202982
Tasa de Ocupacion: 57.80%

In [144]:
#TASA DE DESEMPLEADOS

#POBLACION DESEMPLEADA.
D=df_desocupados[df_desocupados['DSI']==1]['FEX_C18'].sum()
print(f'Poblacion Desempleada: {int(D)}')

TD = D/PEA
print(f'Tasa de Desempleo: {TD*100:.2f}%')

Poblacion Desempleada: 2554682
Tasa de Desempleo: 9.92%

In [145]:
df_ft['DPTO'].unique()

array([ 8, 44, 52, 66,  5, 11, 13, 15, 17, 18, 19, 20, 23, 25, 41, 47, 50,
       54, 63, 68, 70, 73, 76, 81, 85, 86, 88, 91, 94, 95, 97, 99, 27])

In [146]:
#2. TASA DE DESEMPLEO PARA HOMBRES Y MUJERES EN QUINDIO, RISARALDA Y CALDAS.

#Primero hay que anexar la p3271 a la tabla de desocupados y fuerza de trabajo
df_desocupados = pd.merge(df_desocupados, df_cgsse[['DIRECTORIO', 'SECUENCIA_P', 'ORDEN', 'P3271']], 
                        on=['DIRECTORIO', 'SECUENCIA_P', 'ORDEN'], how='left')

df_ft = pd.merge(df_ft, df_cgsse[['DIRECTORIO', 'SECUENCIA_P', 'ORDEN', 'P3271']], 
                        on=['DIRECTORIO', 'SECUENCIA_P', 'ORDEN'], how='left')

In [147]:
#QUINDIO.

#Tasa de desempleo para hombre en el Quindio.
# 1. Calcular cantidad de hombres desempleados en el quindío 
HDQ = df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==63) & (df_desocupados['P3271']==1)]['FEX_C18'].sum()
print(f'Hombres Desempleados en el Quindio: {HDQ}')

# 2. Calcular cantidad de hombres en la PEA del quindío
PEAHQ = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==63) & (df_ft['P3271']==1) ]['FEX_C18'].sum()
print(f'Poblacion Economicamente Activa de hombres en el quindío: {PEAHQ}')

# 3. Calcular la tasa de desempleo en hombres del quindío
TDHQ = HDQ/PEAHQ
print(f'Tasa de Desempleo en hombres del quindío: {TDHQ*100}%')


#Tasa de desempleo para mujeres en el Quindio.
# 1. Calcular cantidad de mujeres desempleadas en el quindío.
MDQ = df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==63) & (df_desocupados['P3271']==2)]['FEX_C18'].sum()
print(f'Mujeres Desempleadas en el Quindio: {MDQ}')

# 2. Calcular cantidad de mujeres en la PEA del quindío
PEAMQ = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==63) & (df_ft['P3271']==2) ]['FEX_C18'].sum()
print(f'Poblacion Economicamente Activa de mujeres en el quindío: {PEAMQ}')

# 3. Calcular la tasa de desempleo en mujeres del quindío
TDMQ = MDQ/PEAMQ
print(f'Tasa de Desempleo en mujeres del quindío: {TDMQ*100}%')

Hombres Desempleados en el Quindio: 18985.404051358997
Poblacion Economicamente Activa de hombres en el quindío: 153739.46448720602
Tasa de Desempleo en hombres del quindío: 12.34907648123032%
Mujeres Desempleadas en el Quindio: 16030.517950364998
Poblacion Economicamente Activa de mujeres en el quindío: 123931.650855853
Tasa de Desempleo en mujeres del quindío: 12.934966846371122%

In [148]:
# RISARALDA.

#Tasa de desempleo para hombre en Risaralda. 
# 1. Calcular cantidad de hombres desempleados en Risaralda
HDR = df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==66) & (df_desocupados['P3271']==1)]['FEX_C18'].sum()
print(f'Hombres Desempleados en Risaralda: {HDR}')

# 2. Calcular cantidad de hombres en la PEA de Risaralda.
PEAHR = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==66) & (df_ft['P3271']==1) ]['FEX_C18'].sum()
print(f'Poblacion Economicamente Activa de hombres en Risaralda: {PEAHR}')

# 3. Calcular la tasa de desempleo en hombres de Risaralda
TDHR = HDR/PEAHR
print(f'Tasa de Desempleo en hombres de Risaralda: {TDHR*100}%')


#Tasa de desempleo para mujeres en Risaralda.
# 1. Calcular cantidad de mujeres desempleadas en Risaralda 
MDR = df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==66) & (df_desocupados['P3271']==2)]['FEX_C18'].sum()
print(f'Mujeres Desempleadas en el Risaralda: {MDR}')

# 2. Calcular cantidad de mujeres en la PEA Risaralda
PEAMR = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==66) & (df_ft['P3271']==2) ]['FEX_C18'].sum()
print(f'Poblacion Economicamente Activa de mujeres en Risaralda: {PEAMR}')

# 3. Calcular la tasa de desempleo en mujeres de Risaralda
TDMR = MDR/PEAMR
print(f'Tasa de Desempleo en mujeres de Risaralda: {TDMR*100}%')

Hombres Desempleados en Risaralda: 17009.936972005
Poblacion Economicamente Activa de hombres en Risaralda: 287351.096300601
Tasa de Desempleo en hombres de Risaralda: 5.919565712813821%
Mujeres Desempleadas en el Risaralda: 19392.529358138996
Poblacion Economicamente Activa de mujeres en Risaralda: 195712.01008849798
Tasa de Desempleo en mujeres de Risaralda: 9.908706854203782%

In [149]:
#CALDAS.

#Tasa de desempleo para hombre en Caldas.
# 1. Calcular cantidad de hombres desempleados en Caldas
HDC= df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==17) & (df_desocupados['P3271']==1)]['FEX_C18'].sum()
print(f'Hombres Desempleados en Caldas: {HDC}')
# 2. Calcular cantidad de hombres en la PEA de Caldas
PEAHC = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==17) & (df_ft['P3271']==1) ]['FEX_C18'].sum()
print(f'Poblacion Economicamente Activa de hombres en Caldas: {PEAHC}')
# 3. Calcular la tasa de desempleo en hombres de Caldas
TDHC = HDC/PEAHC
print(f'Tasa de Desempleo en hombres de Caldas: {TDHC*100}%')

#Tasa de desempleo para mujeres en Caldas.
# 1. Calcular cantidad de mujeres desempleadas en Caldas
MDC = df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==17) & (df_desocupados['P3271']==2)]['FEX_C18'].sum()
print(f'Mujeres Desempleadas en Caldas: {MDC}')
# 2. Calcular cantidad de mujeres en la PEA de Caldas
PEAMC = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==17) & (df_ft['P3271']==2) ]['FEX_C18'].sum()
print(f'Poblacion Economicamente Activa de mujeres en Caldas: {PEAMC}')
# 3. Calcular la tasa de desempleo en mujeres de Caldas
TDMC = MDC/PEAMC
print(f'Tasa de Desempleo en mujeres de Caldas: {TDMC*100}%')

Hombres Desempleados en Caldas: 19641.673955095
Poblacion Economicamente Activa de hombres en Caldas: 280662.925255739
Tasa de Desempleo en hombres de Caldas: 6.99831441477266%
Mujeres Desempleadas en Caldas: 30450.424793245
Poblacion Economicamente Activa de mujeres en Caldas: 191826.594389985
Tasa de Desempleo en mujeres de Caldas: 15.873932855909981%

In [150]:
#Cuales son los departamentos con mayores y menores tasas de desempleo ?
#

In [151]:
# 3. Grupo de edad con mayor y menor tasa de desempleo en el Quindio, Risaralda y Caldas.
#18 a 24 - 24 a 30 - 30 a 40 - 40 a 50  - 60 en adelante.

#Primero hay que anexar la P6040 a la tabla de desocupados y fuerza de trabajo
df_desocupados = pd.merge(df_desocupados, df_cgsse[['DIRECTORIO', 'SECUENCIA_P', 'ORDEN', 'P6040']], 
                        on=['DIRECTORIO', 'SECUENCIA_P', 'ORDEN'], how='left')

df_ft = pd.merge(df_ft, df_cgsse[['DIRECTORIO', 'SECUENCIA_P', 'ORDEN', 'P6040']], 
                        on=['DIRECTORIO', 'SECUENCIA_P', 'ORDEN'], how='left')

#QUINDIO.
DQ_18_24 = df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==63) & (df_desocupados['P6040']>=18) & (df_desocupados['P6040']<=24) ]['FEX_C18'].sum()
PEAQ_18_24 = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==63) & (df_ft['P6040']>=18) & (df_ft['P6040']<=24) ]['FEX_C18'].sum()
TDQ_18_24 = DQ_18_24/PEAQ_18_24
print(f'Tasa de desempleo en el Quindio para el grupo de edad 18 a 24 años: {TDQ_18_24*100:.2f}%')

DQ_24_30 = df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==63) & (df_desocupados['P6040']>24) & (df_desocupados['P6040']<=30) ]['FEX_C18'].sum()
PEAQ_24_30 = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==63) & (df_ft['P6040']>24) & (df_ft['P6040']<=30) ]['FEX_C18'].sum()
TDQ_24_30 = DQ_24_30/PEAQ_24_30
print(f'Tasa de desempleo en el Quindio para el grupo de edad 24 a 30 años: {TDQ_24_30*100:.2f}%')

DQ_30_40 = df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==63) & (df_desocupados['P6040']>30) & (df_desocupados['P6040']<=40) ]['FEX_C18'].sum()
PEAQ_30_40 = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==63) & (df_ft['P6040']>30) & (df_ft['P6040']<=40) ]['FEX_C18'].sum()
TDQ_30_40 = DQ_30_40/PEAQ_30_40
print(f'Tasa de desempleo en el Quindio para el grupo de edad 30 a 40 años: {TDQ_30_40*100:.2f}%')

DQ_40_50 = df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==63) & (df_desocupados['P6040']>40) & (df_desocupados['P6040']<=50) ]['FEX_C18'].sum()
PEAQ_40_50 = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==63) & (df_ft['P6040']>40) & (df_ft['P6040']<=50) ]['FEX_C18'].sum()
TDQ_40_50 = DQ_40_50/PEAQ_40_50
print(f'Tasa de desempleo en el Quindio para el grupo de edad 40 a 50 años: {TDQ_40_50*100:.2f}%')

DQ_60_en_adelante = df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==63) & (df_desocupados['P6040']>60) ]['FEX_C18'].sum()
PEAQ_60_en_adelante = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==63) & (df_ft['P6040']> 60) ]['FEX_C18'].sum()
TDQ_60_en_adelante = DQ_60_en_adelante/PEAQ_60_en_adelante
print(f'Tasa de desempleo en el Quindio para el grupo de edad 60 en adelante: {TDQ_60_en_adelante*100:.2f}%')

#El grupo de edad con mayor tasa de desempleo en el Quindio es el de 18 a 24 años con una tasa de 19.86% y el grupo de edad con menor tasa de desempleo es el de 60 en adelante con una tasa de 6.97%.

Tasa de desempleo en el Quindio para el grupo de edad 18 a 24 años: 19.86%
Tasa de desempleo en el Quindio para el grupo de edad 24 a 30 años: 16.56%
Tasa de desempleo en el Quindio para el grupo de edad 30 a 40 años: 10.13%
Tasa de desempleo en el Quindio para el grupo de edad 40 a 50 años: 13.02%
Tasa de desempleo en el Quindio para el grupo de edad 60 en adelante: 6.97%

In [152]:
#RISARALDA.

#Tasa de desempleo en Risaralda para el grupo de edad 18 a 24 años
DR_18_24 = df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==66) & (df_desocupados['P6040']>=18) & (df_desocupados['P6040']<=24) ]['FEX_C18'].sum()
PEAR_18_24 = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==66) & (df_ft['P6040']>=18) & (df_ft['P6040']<=24) ]['FEX_C18'].sum()
TD_R_18_24 = DR_18_24/PEAR_18_24
print(f'Tasa de desempleo en Risaralda para el grupo de edad 18 a 24 años: {TD_R_18_24*100:.2f}%')


DR_24_30 = df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==66) & (df_desocupados['P6040']>24) & (df_desocupados['P6040']<=30) ]['FEX_C18'].sum()
PEAR_24_30 = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==66) & (df_ft['P6040']>24) & (df_ft['P6040']<=30) ]['FEX_C18'].sum()
TD_R_24_30 = DR_24_30/PEAR_24_30
print(f'Tasa de desempleo en Risaralda para el grupo de edad 24 a 30 años: {TD_R_24_30*100:.2f}%')


DR_30_40 = df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==66) & (df_desocupados['P6040']>30) & (df_desocupados['P6040']<=40) ]['FEX_C18'].sum()
PEAR_30_40 = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==66) & (df_ft['P6040']>30) & (df_ft['P6040']<=40) ]['FEX_C18'].sum()
TD_R_30_40 = DR_30_40/PEAR_30_40
print(f'Tasa de desempleo en Risaralda para el grupo de edad 30 a 40 años: {TD_R_30_40*100:.2f}%')


DR_40_50 = df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==66) & (df_desocupados['P6040']>40) & (df_desocupados['P6040']<=50) ]['FEX_C18'].sum()
PEAR_40_50 = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==66) & (df_ft['P6040']>40) & (df_ft['P6040']<=50) ]['FEX_C18'].sum()
TD_R_40_50 = DR_40_50/PEAR_40_50
print(f'Tasa de desempleo en Risaralda para el grupo de edad 40 a 50 años: {TD_R_40_50*100:.2f}%')


DR_60_en_adelante = df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==66) & (df_desocupados['P6040']>60) ]['FEX_C18'].sum()
PEAR_60_en_adelante = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==66) & (df_ft['P6040']> 60) ]['FEX_C18'].sum()
TD_R_60_en_adelante = DR_60_en_adelante/PEAR_60_en_adelante
print(f'Tasa de desempleo en Risaralda para el grupo de edad 60 en adelante: {TD_R_60_en_adelante*100:.2f}%')

#El grupo de edad con mayor tasa de desempleo en Risaralda es el de 18 a 24 años con una tasa de 13.64% y el grupo de edad con menor tasa de desempleo es el de 30 a 40 años con una tasa de 4.95%.

Tasa de desempleo en Risaralda para el grupo de edad 18 a 24 años: 13.64%
Tasa de desempleo en Risaralda para el grupo de edad 24 a 30 años: 11.89%
Tasa de desempleo en Risaralda para el grupo de edad 30 a 40 años: 4.95%
Tasa de desempleo en Risaralda para el grupo de edad 40 a 50 años: 6.51%
Tasa de desempleo en Risaralda para el grupo de edad 60 en adelante: 6.06%

In [153]:
#CALDAS

#Tasa de desempleo en Caldas para el grupo de edad 18 a 24 años
DC_18_24 = df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==17) & (df_desocupados['P6040']>=18) & (df_desocupados['P6040']<=24) ]['FEX_C18'].sum()
PEAC_18_24 = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==17) & (df_ft['P6040']>=18) & (df_ft['P6040']<=24) ]['FEX_C18'].sum()
TD_C_18_24 = DC_18_24/PEAC_18_24
print(f'Tasa de desempleo en Caldas para el grupo de edad 18 a 24 años: {TD_C_18_24*100:.2f}%')


DC_24_30 = df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==17) & (df_desocupados['P6040']>24) & (df_desocupados['P6040']<=30) ]['FEX_C18'].sum()
PEAC_24_30 = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==17) & (df_ft['P6040']>24) & (df_ft['P6040']<=30) ]['FEX_C18'].sum()
TD_C_24_30 = DC_24_30/PEAC_24_30
print(f'Tasa de desempleo en Caldas para el grupo de edad 24 a 30 años: {TD_C_24_30*100:.2f}%')


DC_30_40 = df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==17) & (df_desocupados['P6040']>30) & (df_desocupados['P6040']<=40) ]['FEX_C18'].sum()
PEAC_30_40 = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==17) & (df_ft['P6040']>30) & (df_ft['P6040']<=40) ]['FEX_C18'].sum()
TD_C_30_40 = DC_30_40/PEAC_30_40
print(f'Tasa de desempleo en Caldas para el grupo de edad 30 a 40 años: {TD_C_30_40*100:.2f}%')


DC_40_50 = df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==17) & (df_desocupados['P6040']>40) & (df_desocupados['P6040']<=50) ]['FEX_C18'].sum()
PEAC_40_50 = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==17) & (df_ft['P6040']>40) & (df_ft['P6040']<=50) ]['FEX_C18'].sum()
TD_C_40_50 = DC_40_50/PEAC_40_50
print(f'Tasa de desempleo en Caldas para el grupo de edad 40 a 50 años: {TD_C_40_50*100:.2f}%')


DC_60_en_adelante = df_desocupados[(df_desocupados['DSI']==1) & (df_desocupados['DPTO']==17) & (df_desocupados['P6040']>60) ]['FEX_C18'].sum()
PEAC_60_en_adelante = df_ft[(df_ft['FT']==1) & (df_ft['DPTO']==17) & (df_ft['P6040']> 60) ]['FEX_C18'].sum()
TD_C_60_en_adelante= DC_60_en_adelante/PEAC_60_en_adelante
print(f'Tasa de desempleo en Caldas para el grupo de edad 60 en adelante : {TD_C_60_en_adelante*100:.2f}%')
#

Tasa de desempleo en Caldas para el grupo de edad 18 a 24 años: 25.14%
Tasa de desempleo en Caldas para el grupo de edad 24 a 30 años: 14.43%
Tasa de desempleo en Caldas para el grupo de edad 30 a 40 años: 6.93%
Tasa de desempleo en Caldas para el grupo de edad 40 a 50 años: 6.44%
Tasa de desempleo en Caldas para el grupo de edad 60 en adelante : 7.30%

In [154]:
# 4. Menor tasa de desempleo de mujeres entre los 18 y los 24 años en los departamentos de Quindio, Risaralda y Caldas.

#  Primero hay que filtrar las mujeres entre 18 y 24 años en la tabla de desocupados y fuerza de trabajo
df_desocupados_mujeres_18_24 = df_desocupados[(df_desocupados['P3271']==2) & (df_desocupados['P6040']>=18) & (df_desocupados['P6040']<=24)]
df_ft_mujeres_18_24 = df_ft[(df_ft['P3271']==2) & (df_ft['P6040']>=18) & (df_ft['P6040']<=24)]


# Calcular la tasa de desempleo para mujeres entre 18 y 24 años en Quindio
DMQ_18_24 = df_desocupados_mujeres_18_24[df_desocupados_mujeres_18_24['DPTO']==63]['FEX_C18'].sum()
PEAMQ_18_24 = df_ft_mujeres_18_24[df_ft_mujeres_18_24['DPTO']==63]['FEX_C18'].sum()
TDMQ_18_24 = DMQ_18_24/PEAMQ_18_24
print(f'Tasa de desempleo en mujeres entre 18 y 24 años en Quindio: {TDMQ_18_24*100:.2f}%')

# Calcular la tasa de desempleo para mujeres entre 18 y 24 años en Risaralda
DMR_18_24 = df_desocupados_mujeres_18_24[df_desocupados_mujeres_18_24['DPTO']==66]['FEX_C18'].sum()
PEAMR_18_24 = df_ft_mujeres_18_24[df_ft_mujeres_18_24['DPTO']==66]['FEX_C18'].sum()
TDMR_18_24 = DMR_18_24/PEAMR_18_24
print(f'Tasa de desempleo en mujeres entre 18 y 24 años en Risaralda: {TDMR_18_24*100:.2f}%')

# Calcular la tasa de desempleo para mujeres entre 18 y 24 años en Caldas
DMC_18_24 = df_desocupados_mujeres_18_24[df_desocupados_mujeres_18_24['DPTO']==17]['FEX_C18'].sum()
PEAMC_18_24 = df_ft_mujeres_18_24[df_ft_mujeres_18_24['DPTO']==17]['FEX_C18'].sum()
TDMC_18_24 = DMC_18_24/PEAMC_18_24
print(f'Tasa de desempleo en mujeres entre 18 y 24 años en Caldas: {TDMC_18_24*100:.2f}%')

Tasa de desempleo en mujeres entre 18 y 24 años en Quindio: 50.59%
Tasa de desempleo en mujeres entre 18 y 24 años en Risaralda: 55.79%
Tasa de desempleo en mujeres entre 18 y 24 años en Caldas: 65.33%

In [155]:
# 5. Análisis de ingresos laborales para Colombia en 2025. - Basado en la variable INGLABO del módulo ocupados responda las siguientes preguntas.

#Calcule el promedio de ingresos laborales  de las personas residentes en los departamentos de Risaralda, Caldas , Quindío, Antioquia y Valle del Cauca.
# Primero hay que filtrar los departamentos de interés en la tabla de ocupados
df_ocupados_departamentos = df_ocupados[df_ocupados['DPTO'] .isin([17, 63, 66, 76, 88])]
promedio_ingresos_laborales = df_ocupados_departamentos['INGLABO'].mean()
print(f'El promedio de ingresos laborales en los departamentos de Risaralda, Caldas, Quindío, Antioquia y Valle del Cauca es: ${promedio_ingresos_laborales:,.2f}')

El promedio de ingresos laborales en los departamentos de Risaralda, Caldas, Quindío, Antioquia y Valle del Cauca es: $1,744,629.50

In [ ]:
# 6. Para los mismos departamentos del punto anterior, calcule el promedio de ingresos laborales de hombres y mujeres en los siguientes rangos de edad : 18 a 24, 24 a 30, 30 a 40, 40 a 50, 60 en adelante.